<div id="player">
	<div id="top-bar">
		<div id="logo"><i class="icon-music"></i>SWOOBY</div>
		<div id="search">
			<i class="icon-search"></i>
			<input type="text" placeholder="search">
		</div>
		<ul id="menu">
			<li><a href="#"><i class="icon-signal"></i> Notifications <span>5</span></a></li>
			<li><a href="#"><i class="icon-cog"></i> Settings</a></li>
			<li><a href="#"><i class="icon-off"></i> Logout</a></li>
		</ul>
	</div>

	<div id="wrap">
		<div id="sidebar">
			<div id="profile">
				<a class="profile-thumb" href="#">
					<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc6/275325_671157731_451522712_q.jpg" alt="">
				</a>
				<div class="w-message">
					Welcome,<br>
					<a href="#">Aniss Bouraba</a>
				</div>
				<a class="help"><i class="icon-help-circle"></i></a>
			</div>

			<ul id="menu">
				<li class="selected"><a href=""><i class="icon-compass"></i> Explore</a></li>
				<li><a href="#"><i class="icon-align-justify"></i> Top Tracks</a></li>
				<li><a href="#"><i class="icon-bookmark"></i> My Playlist</a></li>
				<li></li>
			</ul>
			<div id="swooby-player"></div>
		    <div id="ytapiplayer"></div>
		</div>

		<div id="swooby-contenter">
			<div id="swooby-content">
			</div>
		</div>

	</div>
</div>